<div class="row">
  <div class="col-md-7 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <a href="{% url 'post_detail' post.pk %}" class="link-dark">
          <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
        <p class="card-text">{{ post.body }}</p>
        <a href="{% url 'comments_post_list' post.pk %}" class="card-link">Comments</a>
        <a href="{% url 'comment_create' post.pk %}" class="card-link">Add Comment</a>
        {% if post.author == user %}
         <span class="mx-2">|</span>
          <a href="{% url 'post_update' post.pk %}" class="card-link">Edit</a>
          <a href="{% url 'post_delete' post.pk %}" class="card-link">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
