[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
gunicorn = "*"
dj-database-url = "*"
djangorestframework = "*"
django-mptt = "*"
drf-yasg = "*"
whitenoise = "*"

[dev-packages]
